{{#partial "sub-header-error"}}
    <title>Error 400 - Solicitud erronea</title>
{{/partial}}

{{#partial "cuerpo-error"}}
    <h1>SOLICITUD ERRONEA</h1>
    <p>Ocurrió un error al intentar procesar la solicitud.</p>
    <p>Por favor, asegurese de que los campos esten completos correctamente </p>

    <!-- Imagen atractiva para dar estilo -->
    <div class="image-container">
        <img src="../../img/errores/400.png" alt="Bad Request">
    </div>
{{/partial}}
{{>templates/bases/base_errores}}