<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 400 - Selección errónea de heladeras.</title>

    <link rel="stylesheet" href="/css/general/reset.css">
    <link rel="stylesheet" href="/css/errores/errores.css">
</head>
<body>

<div class="container">
    <h1>ENVÍO DE FORMULARIO DENEGADO</h1>
    <p>Las heladeras seleccionadas para redistribuir viandas deben ser distintas entre sí.</p>

    <div class="image-container">
        <img src="../../img/errores/400.png" alt="Acceso denegado">
    </div>
    <a href="/menu-persona">Volver al inicio</a>
</div>

</body>
</html>