{{#partial "sub-header-error"}}
    <title>Error - Tarjeta inexistente</title>
{{/partial}}

{{#partial "cuerpo-error"}}
    <h1>TARJETA INEXISTENTE</h1>
    <p>La tarjeta que estás intentando usar no se encuentra registrada en el sistema.</p>
    <p>Por favor, verifica los detalles o contacta con nuestro soporte si necesitas más asistencia.</p>

    <!-- Imagen ilustrativa para el error de tarjeta asignada -->
    <div class="image-container">
        <img src="../../img/errores/400.png" alt="Tarjeta asignada">
    </div>
{{/partial}}

{{>templates/bases/base_errores}}

