{{#partial "sub-header-error"}}
    <title>Error 401 - No Autorizado</title>
{{/partial}}

{{#partial "cuerpo-error"}}
    <h1>PERMISO DENEGADO</h1>
    <p>Ocurrió un error al intentar realizar la operación.</p>
    <p>Por favor, intente nuevamente o contacta al administrador si el problema persiste.</p>

    <!-- Imagen atractiva para dar estilo -->
    <div class="image-container">
        <img src="../../img/errores/401.png" alt="No Autorizado">
    </div>
{{/partial}}
{{>templates/bases/base_errores}}


