{{#partial "sub-header-error"}}
    <title>Error 403 - El colaborador no ha sido dado de alta</title>
{{/partial}}

{{#partial "cuerpo-error"}}
    <h1>PERMISO DENEGADO</h1>
    <p>Tu cuenta aún no ha sido dada de alta.</p>
    <p>Te contactaremos por el medio de contacto brindado cuando un administrador te haya registrado.</p>

    <div class="image-container">
        <img src="../../img/errores/403.png" alt="Acceso denegado">
    </div>
{{/partial}}
{{>templates/bases/base_errores}}