{{#partial "sub-header-error"}}
    <title>Error 500 - Error interno del servidor</title>
{{/partial}}

{{#partial "cuerpo-error"}}
    <h1>ERROR DEL SERVIDOR</h1>
    <p></p>
    <p>Te contactaremos por el medio de contacto brindado cuando un administrador te haya registrado.</p>

    <div class="image-container">
        <img src="../../img/errores/500.png" alt="Server Error">
    </div>
{{/partial}}
{{>templates/bases/base_errores}}