
{{#partial "estilo-contenido-pagina-colaborador"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="css/registro/formulariosRegistro.css">
    <link rel="stylesheet" href="css/colaboraciones/distribucionVianda.css">
    <link rel="stylesheet" href="../../css/colaboraciones/formsColaboraciones.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Formulario Distribución Vianda</title>
{{/partial}}
{{#partial "redireccion-home"}}
    <div class="nav-item">
        <a href="/menu-persona">
            <img src="../../img/iconosHeader/casa.png" alt="Inicio">
            <p>Inicio</p>
        </a>
    </div>
{{/partial}}

{{#partial "contenido-pagina-colaborador"}}

<div class="main-container">

    <div class="form-container">

        <div class="form-title-container">
            <h3>Formulario de Distribución de Viandas</h3>
        </div>

        <div class="form-y-envio-container">
            <form class="distribucion-form" id="registro-form" action="/distribucion-viandas" method="POST">
                <div class="grid-item">
                    <label for="cantidad-viandas">Cantidad de Viandas *</label>
                    <input id="cantidad-viandas" type="number" name="cantidad-viandas" value=""
                           placeholder="Ingrese la cantidad de viandas a distribuir" class="text-input"
                           required min="1" step="1" style="width: 90%;" required>
                </div>

                <div class="grid-item">
                    <label for="motivo-de-distribucion" required>Motivo de distribución *</label>
                    <select id="motivo-de-distribucion" name="motivo-de-distribucion" required>
                        <option value="-1" disabled selected>Seleccione un motivo de distribución</option>
                        <option value="FALLA_TECNICA">Falla técnica</option>
                        <option value="HELADERA_POR_VACIARSE">La heladera destino está por vaciarse</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>

                <div class="grid-item">
                    <label for="heladera-destino">Heladera Destino *</label>
                    <div id="mapid-destino"></div>
                    <label for="heladera-destino-nombre">Heladera Seleccionada:</label>
                    <input type="text" id="heladera-destino-nombre" name="heladera-destino-nombre" readonly
                           required>

                    <label for="heladera-destino-direccion">Dirección de la Heladera:</label>
                    <input type="text" id="heladera-destino-direccion" name="heladera-destino-direccion" readonly
                           required>

                    <input type="hidden" id="heladera-destino-id" name="heladera-destino-id">
                </div>

                <div class="grid-item">
                    <label for="heladera-origen">Heladera Origen * </label>
                    <div id="mapid-origen"></div>
                    <label for="heladera-origen-nombre">Heladera Seleccionada:</label>
                    <input type="text" id="heladera-origen-nombre" name="heladera-origen-nombre" readonly required>

                    <label for="heladera-origen-direccion">Dirección de la Heladera:</label>
                    <input type="text" id="heladera-origen-direccion" name="heladera-origen-direccion" readonly
                           required>

                    <input type="hidden" id="heladera-origen-id" name="heladera-origen-id">
                </div>

                {{> templates/bases/preguntas_dinamicas}}
            </form>

            <div class=footer-form id="footer-form-container">

                <div id="aclaracion-obligatoriedad">Los campos marcados con (*) son obligatorios</div>

                <div id="btn-envio-form-container">
                    <button type="submit" id="btn-envio-form" onclick="enviarFormulario();" class="btn">Enviar
                        formulario</button>
                </div>


            </div>
        </div>


    </div>

</div>

<dialog id="pop-up-bienvenido">

    <div class="pop-up-container-interior" id="pop-up-bienvenido-interior">
        <img id="logo-pop-up-bienvenido" src="../../img/login/logo.png" alt="logo VianditasONG">
        <h2> ¡Gracias por tu colaboración!</h2>
        <P class="parrafo-pop-up"> Tu apoyo es fundamental para ayudarnos a construir un mundo mejor. Juntos, podemos lograr grandes cosas y marcar una diferencia positiva en la vida de quienes más lo necesitan. </P>

        <nav> <a href="menu-persona" class="pop-up-btn"> Volver al inicio  </a></nav>
    </div>
</dialog>
{{/partial}}


{{#partial "js-contenido-pagina-colaborador"}}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="js/colaboraciones/seleccionarHeladeraDoble.js"></script>
<script src="js/colaboraciones/formDistribucionVianda.js"></script>
<script src="js/colaboraciones/colaboracionCompletada.js" ></script>
{{/partial}}
{{>templates/bases/base_colaborador}}